<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="#">Airsoft_<span style="color:orange;">pro</span>.</a></h1>
      <h2 style="font-size: 15px">Panel użytkownika</h2>
    </div>
    <nav>
      <ul>
        <li><a routerLink="../user">Strona domowa</a></li>
        <li><a routerLink="../wydarzenia">Wydarzenia</a></li>
        <li><a routerLink="../myeq">MyEQ</a></li>
        <li><a routerLink="../kontakt">Zasady/FAQ</a></li>
      </ul>
    </nav>
  </header>
</div>