<head>
  <title>Airsoft_Pro</title>
  <meta charset="UTF-8">
  </head>
<!-- <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="card" style="width: 20rem;">
          <div *ngIf='user.provider != "password"'class="card-body">
            <h4 class="card-title">{{user.name}}</h4>
          </div>
          <div *ngIf='user.provider == "password"'class="card-body">
            <form [formGroup]="profileForm">
              <div class="form-group">
                <label>Twoja nazwa:</label>
                <input type="text" formControlName="name" class="form-control" required>
              </div>
            </form>
            <a (click)="save(profileForm.value)" class="btn btn-primary">Zapisz</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <button type="button" (click)="logout()" class="btn btn-link">Wyloguj</button>
      </div>
    </div>
  </div> -->

  <app-menu></app-menu>
  <!-- content -->
  <div class="wrapper row2">
    <div id="container" class="clear">
      <!-- content body -->
      <div id="homepage">
        <!-- One Quarter -->
        <section id="latest" class="clear">
          <article class="one_quarter">
            <figure><img src="../../assets/szturmowiec.gif" width="215" height="315" alt="">
              <figcaption>Szturmowiec</figcaption>
              <p>Lekka piechota. Podstawowa jednostka w wojsku.<br> Jedna z najpopularniejszych ról podczas rozgrywek <br>ze względu na wielozadaniowość. Głównym zadaniem jest wyeliminowanie przeciwnika z walki. Może być traktowany jako medyk.</p>
            </figure>
          </article>
          <article class="one_quarter">
            <figure><img src="../../assets/wsparcie.jpg" width="215" height="315" alt="">
              <figcaption>Wsparcie</figcaption>
              <p>Głównym zadaniem tej roli jest udzielanie wsparcia ogniowego. Gracze używający replik wspracia potrafią dosłownie zasypać kulkami przeciwników. Dodatkowo mogą przenosić dużą ilość amunicji. Często stosowana<br>w rozgrywkach z pojazdami.</p>
            </figure>
          </article>
          <article class="one_quarter">
            <figure><img src="../../assets/zwiadowca.gif" width="215" height="315" alt="">
              <figcaption>Zwiadowca</figcaption>
              <p>Zadaniem zwiadowcy jest wypatrywanie przeciwników oraz celów rozgrywki, przed kontaktem. Informację może przekazać drogą radiową lub gestami. Bardzo użyteczny na dużych mapach. Cechuje się tym, że zachowuje duży dystans od przeciwników. Szalenie niebezpieczny.</p>
            </figure>
          </article>
          <article class="one_quarter lastbox">
            <figure><img src="../../assets/technik.gif" width="215" height="315" alt="">
              <figcaption>Technik</figcaption>
              <p>Rola technika jest kluczowa przy rozgrywkach ze scenariuszem. Potrafi podkładać lub rozbrajać bomby. Korzysta także ze środków pirotechnicznych jak petardy, stroboskoby czy granaty dymne. Może być traktowany jako radiowiec. Przydatny do LARP</p>
            </figure>
          </article>
        </section>
        <!-- / One Quarter -->
        <section id="shout">
          <p>Kategorie pomagają w rozgrywkach, by stawały się bardziej realne. </p>
          </section>
      </div>
      <!-- main content -->
      <div id="content">
       
      </div>
      <!-- right column -->
      
      <!-- / content body -->
    </div>
  </div>
  <!-- Footer -->
  <div class="wrapper row3">
  
  </div>
  
  