<app-menu></app-menu>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<h4 style="text-align:center;font-family: 'Open Sans Condensed', sans-serif;margin-top: 5px;color:orange;">Dodaj swój ekwipunek!</h4>
<div id="glowa"> Nakrycie głowy <app-upload type="glowa"></app-upload></div>
<div id="kamizelka"> Kamizelka<app-upload type="kamizelka"></app-upload></div>
<div id="spodnie"> Spodnie<br><app-upload type="spodnie"></app-upload></div>
<div id="rekawice"> Rękawice<app-upload type="rekawice"></app-upload></div>
 <div id="boczniak"> Replika boczna<app-upload type="boczniak"></app-upload></div> 
 <div id="plecak"> Plecak<br><app-upload type="plecak"></app-upload></div> 
 <div id="glowna"> Replika główna<app-upload type="glowna"></app-upload></div>
 <div id="buty"> Buty<br><app-upload type="buty"></app-upload></div> 
