<app-menu></app-menu>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<h4 style="text-align:center;font-family: 'Open Sans Condensed', sans-serif;margin-top: 5px;color:orange;">Dodaj swój ekwipunek!</h4>
<div id="glowa"> Nakrycie głowy <app-upload></app-upload></div>
<div id="kamizelka"> Kamizelka</div>
<div id="spodnie"> Spodnie</div>
<div id="rekawice"> Rękawice</div>
 <div id="boczniak"> Replika boczna</div> 
 <div id="plecak"> Plecak</div> 
 <div id="glowna"> Replika główna</div>
 <div id="buty"> Buty</div> 