
<app-menu></app-menu>
<ngb-accordion #acc="ngbAccordion">
    <ngb-panel  id="toggle-1" title="Czym jest ASG ?">
      <ng-template ngbPanelContent>
       ASG to akronim angielskiego wyrażenia „Air Soft Gun”, które w wolnym tłumaczeniu na język polski, oddając dość dobrze istotę rzeczy, oznacza replikę broni palnej. ASG są to wierne, jeśli chodzi o wygląd, kopie broni palnej, używanej w najzupełniej realnym świecie. Wykonuje się je z różnych materiałów, na ogół w skali 1:1. Strzela się z nich plastikowymi kulkami o średnicy 6 mm, rzadziej 8 mm. Natomiast angielskim mianem „Airsoft” określamy zabawę polegającą na prowadzeniu walk z użyciem broni ASG. Osobom, których pasjonują militaria, te terminy są znane, niemniej mając świadomość tego, że miłośników owej zabawy ciągle przybywa, wyjaśniamy w niniejszym poradniku zasady Airsoftu od podstaw, ograniczając się wszakże do najistotniejszych spraw.
      </ng-template>
    </ngb-panel>
  
    <ngb-panel id="toggle-2" title="Rodzaje broni ASG">
      <ng-template ngbPanelContent>
        Generalnie można przyjąć, że ASG to broń pneumatyczna, którą możemy podzielić na trzy podstawowe rodzaje:

        Sprężynowe – kulka jest wystrzeliwana strumieniem powietrza, które jest ściskane w cylindrze poprzez ruch tłoka naciąganego sprężyną. Ten typ ASG wymaga każdorazowego, ręcznego naciągania sprężyny po jednym oddanym strzale. Najczęściej spotykanym rodzajem broni w tej klasie są karabiny snajperskie lub strzelby powtarzalne typu „pump action”.
        Gazowe – kulka wystrzeliwana jest za pomocą odpowiedniego gazu (najczęściej tak zwany „green gas” lub dwutlenek węgla), znajdującego się w specjalnym zbiorniku usytuowanym na przykład w kolbie pistoletu. To rozwiązanie nie wymaga ręcznego przeładowywania po każdym pojedynczym strzale, ponieważ ruch zamka wywoływany jest przez kierowaną na niego część gazu. Posługiwanie się tym rodzajem ASG jest tak realistyczne, że odczuwa się nawet odrzut broni. Ładowanie gazu do zbiornika jest prostą czynnością, zupełnie taką samą jak przy zapalniczkach. W tym przypadku najczęściej spotykane ASG to repliki broni krótkiej.
        Elektryczne – tutaj to silnik elektryczny poprzez specjalny system przekładniowy naciąga sprężynę wraz z tłokiem, który po zwolnieniu gwałtownie spręża powietrze w cylindrze, powodując wystrzelenie kulki. Dzięki swym możliwościom elektryczne ASG to głównie repliki pistoletów maszynowych, subkarabinków i karabinów maszynowych strzelających ogniem automatycznym lub półautomatycznym. Oczywiście w tym przypadku niezbędne jest posiadanie odpowiedniej ładowarki, przy pomocy której można zasilać ogniwo elektryczne tej broni.
        Sklepy mające na swych półkach militaria, które tutaj opisujemy, oferują również różne dodatkowe akcesoria, dzięki którym broń ASG może być modyfikowana i ulepszana.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-3" title="Zasady walki przy użyciu ASG">
      <ng-template ngbPanelContent>
        Reguły Airsoftu są stosunkowo proste. Pierwszą i najważniejszą zasadą jest pojmowanie walki przy użyciu ASG jako zabawy, a nie rozgrywki „na śmierć i życie”. Stąd od uczestniczących w niej osób oczekuje się uczciwości i gry fair. W tej grze trafienia kulką są niewidoczne, dlatego osoba, która została postrzelona, powinna się do tego przyznać. W czasie trwania całej rozgrywki obowiązuje nakaz noszenia okularów ochronnych, koniecznie atestowanych. Stroje w zasadzie są dowolne, niemniej warto postarać się o coś, co rozgrywkę uczyni bardziej realistyczną, a co nietrudno kupić w jakimkolwiek sklepie prowadzącym militaria dotyczące ASG. W rozgrywkach mogą brać udział wyłącznie osoby, które ukończyły 16 rok życia. Szczegółowe zasady walki, na konkretnych zawodach, każdorazowo określa ich organizator.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-4" title="Ile to kosztuje i na co zwracać uwagę przy zakupach?">
      <ng-template ngbPanelContent>
        Jak zawsze przy wszelkiego rodzaju zakupach, także w przypadku ASG należy zachować rozsądek i chłodną głowę. Aczkolwiek broń jest najważniejszym atrybutem w Airsofcie, to jeszcze ważniejsze jest własne zdrowie. Nie oszczędzajmy na okularach lub goglach ochronnych; kupujmy wyłącznie produkty z odpowiednim atestem, spełniających normę PN-EN 168:2005 lub PN-EN 166:2005. Jeśli chodzi o samą broń, to ceny są tutaj mocno zróżnicowane. Początkującym zalecamy tutaj daleko posunięty umiar, ponieważ:

        nigdy nie można mieć pewności, że zabawa z ASG okaże się rzeczywiście tym, co nas naprawdę będzie pasjonować i czy nie kierujemy się jedynie kaprysem chwili;
        może się zdarzyć, że to, co kupiliśmy, nie spełnia naszych wyobrażeń i zechcemy kupić później coś innego.
        Cena, którą uzyskamy za odsprzedawane, niechciane już przez nas militaria, będzie znacznie niższa niż koszt jej zakupu i możemy na tym sporo stracić.
        
        Jakie więc koszty początkujący adept Airsoftu musi ponieść, rozpoczynając swoją przygodę z ASG? Dobre okulary ochronne to wydatek minimum 50 zł. Najtańszą repliką broni i to całkiem niezłą jest shotgun AGM w cenie około 70 zł. Ceny innych egzemplarzy, o których można powiedzieć, że są dobre, zaczynają się od 300 zł wzwyż. Najwygodniejsze i najbardziej popularne repliki elektryczne sensownej jakości to cena minim 350 zł – można o nich więcej dowiedzieć się w jednym z naszych poradników. ASG sprężynowe, choć dość tanie, są niewygodne na polu walki, natomiast używanie replik gazowych jest stosunkowo drogie, zważywszy na duże zużycie kosztownego gazu, którego wadą jest także ulatnianie się w niskich temperaturach.
        
        Na koniec wspomnijmy jeszcze o kulkach. Ponieważ ich cena stanowi ułamkową część repliki, więc tutaj akurat nie zalecamy sięgania po najtańszy towar. Niektóre tanie kulki potrafią zablokować mechanizmy repliki i popsuć całą zabawę. Dobrej jakości kulki dostaniemy w cenie nieprzekraczającej 40 zł za 4000 sztuk.
        
        Wskazane jest, aby wszelkiego rodzaju militaria ASG kupować w specjalistycznych sklepach, które dają gwarancję na towar i w których możemy nie tylko dotknąć towaru, ale także go wypróbować. Odradzamy kupowania ASG na różnych internetowych stronach aukcyjnych, albowiem tani zakup może się w końcowym rozrachunku okazać bardzo kosztowną i w dodatku nietrafioną inwestycją.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-5" title="Rodzaje gier">
      <ng-template ngbPanelContent>
        ASG to akronim angielskiego wyrażenia „Air Soft Gun”, które w wolnym tłumaczeniu na język polski, oddając dość dobrze istotę rzeczy, oznacza replikę broni palnej. ASG są to wierne, jeśli chodzi o wygląd, kopie broni palnej, używanej w najzupełniej realnym świecie. Wykonuje się je z różnych materiałów, na ogół w skali 1:1. Strzela się z nich plastikowymi kulkami o średnicy 6 mm, rzadziej 8 mm. Natomiast angielskim mianem „Airsoft” określamy zabawę polegającą na prowadzeniu walk z użyciem broni ASG. Osobom, których pasjonują militaria, te terminy są znane, niemniej mając świadomość tego, że miłośników owej zabawy ciągle przybywa, wyjaśniamy w niniejszym poradniku zasady Airsoftu od podstaw, ograniczając się wszakże do najistotniejszych spraw.
      </ng-template>
    </ngb-panel>
    <ngb-panel id="toggle-6" title="Zasady związane z zachowaniem porządku publicznego oraz obowiązujących norm prawnych">
      <ng-template ngbPanelContent>
        Noszenie broni ASG w miejscach publicznych powinno odbywać się z użyciem pokrowców, opakowań lub w inny sposób, zabezpieczający broń ASG przed widokiem publicznym.       </ng-template>
    </ngb-panel>
  </ngb-accordion>
  
  <hr/>
  
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-1')">Pokaż 1</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-2')">Pokaż 2</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-3')">Pokaż 3</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-4')">Pokaż 4</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-5')">Pokaż 5</button>
  <button class="btn btn-sm btn-outline-primary mr-2" (click)="acc.toggle('toggle-6')">Pokaż 6</button>

  
  