
<html>
  <head>
  
  </head>
  <body>  
  <!-- <video style="position: absolute;top: 0;left: 100;min-width: 100%;min-height: 100%;z-index: -1;" src="../assets/tlo.mp4"  autoplay loop muted> </video> -->
    <div class="area">
      <div style="
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top:20px;
      background:transparent;
      ">     
        <ngbd-modal-options></ngbd-modal-options> 
      </div>
      <div class="tytul"><h1>Airsoft_pro.v2</h1></div>
  <div class="podtytul1">Dołącz do nas</div>
  <div class="podtytul">Kliknij w ikonę by się zalogować! </div>
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
  </div >
   <!-- <router-outlet> </router-outlet>  -->
  
  
  </body>
  </html>