.header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  .row{
    margin-top: 20px;
    text-align:center; 
    display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  .error{
    color: red;
  }
  